<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../static/main.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
  </head>   
  <body>
    <header>
            <nav>
                <div class="signature">
                    <div class="logo">
                        <a href="#">
                            <img src="../static/image-page/tl5.png" alt="">
                        </a>
                    </div> 
                    <div class="text">
                        <div class="text1">LGEUS TN R&D Team </div>
                        <div class="text2">LG Washing Machine</div>
                        <div class="text3">Customer Quick Guide</div>
                    </div>     
                </div>
                <div class="navigation">
                    <input type="checkbox" class="toggle-menu"/>
                    <div class="hamburger"></div>
                    <ul class="menu">
                        <li><a href="#"><span>Home</span></a></li>
                        <li><a href="#product-section"><span>Product</span></a></li>
                        <li><a href="#symptom-section"><span>Top Loader</span></a></li>
                        <li><a href="#symptom2-section"><span>Front Loader</span></a></li>
                        <li><a href="#summary-section"><span>VOC</span></a></li>
                    </ul>
                </div>
            </nav>   
    </header>

    <section id="top">
        <div class="container">
            <div class="info">
            <h1 class="neonText">Customer Support </h1>
            <h2> Washing Machine </h2>
            <h3> Video Tutorial <i class="fas fa-video"></i> </h3>
        </div>
      </div>
    </section>

    <section id="introduction-section">
        <div class="container">
            <div class="title">
                <h1>Introduction</h1>
            </div>
            <div class="introduction-container">
                <div class="box blue">
                    <h5>Reliability</h5>
                    <p>Made by Production Site, contents are updated with most recent increasing service trend on real-time</p>
                </div>
                <div class="box red">
                    <h5>Speedy</h5>
                    <p>Faster way to solve your issue compared to call representitive(10-30min) or service technician (7-10days)</p>
                </div>
                <div class="box yellow">
                    <h5>Easy</h5>
                    <p>Easy to see and try on you washer with detailed video. The goal of video is the simplest trouble-shooting </p>
                </div>
            </div>
        </div>
    </section>

    <section id="product-section">
        <div class="container">
          <div class="title">
              <h1>What is your Product?</h1>
          </div>
          <div class="product-container">
            <div class="box image1">
                <a href="#symptom-section">
                    <div class="text">top loader</div>
                </a>
            </div>
            <div class="box image2">
                <a href="#symptom2-section">
                    <div class="text">front loader</div>
                </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="symptom-section">
        <div class="container">
            <div class="title">
                <h1>What is your Top Loader symptom?</h1>
            </div>
            <form action="" method="POST">
                <div class="symptom-container">
                    <div class="box image1">
                        <input type="submit" class="btn" name="action1" value="Noise/Vibration">
                    </div>
                    <div class="box image2">
                        <input type="submit" class="btn" name="action1" value="Clothing Issue">
                    </div>
                    <div class="box image3">
                        <input type="submit" class="btn" name="action1" value="Cycle/Operation">
                    </div>
                    <div class="box image4">
                        <input type="submit" class="btn" name="action1" value="Drainage">
                    </div>
                    <div class="box image5">
                        <input type="submit" class="btn" name="action1" value="Error Code">
                    </div>
                    <div class="box image6">
                        <input type="submit" class="btn" name="action1" value="Filling">
                    </div>
                    <div class="box image7">
                        <input type="submit" class="btn" name="action1" value="Leaking">
                    </div>
                    <div class="box image8">
                        <input type="submit" class="btn" name="action1" value="dispenser">
                    </div>
                    <div class="box image9">
                        <input type="submit" class="btn" name="action1" value="Door Issue">
                    </div>
                    <div class="box image10">
                        <input type="submit" class="btn" name="action1" value="Not Working">
                    </div>
                    <div class="box image11">
                        <input type="submit" class="btn" name="action1" value="Smell/Odor">
                    </div>
                    <div class="box image12">
                        <input type="submit" class="btn" name="action1" value="ThinQ App">
                    </div>
                </div>
            </form>
        </div>
    </section>
  
    <section id="symptom2-section">
      <div class="container">
          <div class="title">
              <h1>What is your Front Loader symptom?</h1>
          </div>
          <form action="" method="POST">
              <div class="symptom-container">
                    <div class="box image1">
                        <input type="submit" class="btn" name="action2" value="Noise/Vibration">
                    </div>
                    <div class="box image2">
                        <input type="submit" class="btn" name="action2" value="Clothing Issue">
                    </div>
                    <div class="box image3">
                        <input type="submit" class="btn" name="action2" value="Cycle/Operation">
                    </div>
                    <div class="box image4">
                        <input type="submit" class="btn" name="action2" value="Drainage">
                    </div>
                    <div class="box image5">
                        <input type="submit" class="btn" name="action2" value="Error Code">
                    </div>
                    <div class="box image6">
                        <input type="submit" class="btn" name="action2" value="Filling">
                    </div>
                    <div class="box image7">
                        <input type="submit" class="btn" name="action2" value="Leaking">
                    </div>
                    <div class="box image8">
                        <input type="submit" class="btn" name="action2" value="Dispenser">
                    </div>
                    <div class="box image9">
                        <input type="submit" class="btn" name="action2" value="Door Issue">
                    </div>
                    <div class="box image10">
                        <input type="submit" class="btn" name="action2" value="Not Working">
                    </div>
                    <div class="box image11">
                        <input type="submit" class="btn" name="action2" value="Smell/Odor">
                    </div>
                    <div class="box image12">
                        <input type="submit" class="btn" name="action2" value="ThinQ App">
                    </div>
                
              </div>
          </form>
      </div>
    </section>

    <section id="summary-section">
        <div class="navbar">
            <div class="navbar__brand">
              <img class="navbar__logo" src="../static/image-page/logo.svg" alt="The Microblog logo" />
              <h6>Customer Review</h6>
            </div>
        </div>
        <main class="main">
            <section>
              <h1>Add new entry</h1>
              <form class="form" method="POST">
                <p class="form__input">
                  <label for="entry" class="form__label">Entry contents:</label>
                  <textarea name="content" id="entry" class="form__textarea"></textarea>
                </p>
                <button type="submit" class="form__submit">Add entry</button>
              </form>
            </section>
            <section>
              <h1>Recent posts</h1>
              {% for entry in entries %}
                <article class="entry">
                  <div>
                    <h2 class="entry__title">{{ entry[0] | truncate(30, true) }}</h2>
                    <time class="entry__date" datetime="{{ entry[1] }}">• {{ entry[2] }}</time>
                  </div>
                  <p class="entry__content">
                    {{ entry[0] }}
                  </p>
                </article>
              {% endfor %}
            </section>
        </main>
        <footer class="footer">
            <div class="footer__content">
              <section class="left">
                <a class="footer__item">Made by Eunbi Yoon</a>
                <a class="footer__item">LGEUS Tennessee Factory R&D Team</a>
              </section>
              <section class="right">
                <div class="footer__column">
                  <a class="footer__item">Recent</a>
                  <a class="footer__item">Calendar</a>
                </div>
                <div class="footer__column">
                  <a class="footer__item" href="#">About</a>
                  <a class="footer__item">V3_092322</a>
                </div>
              </section>
            </div>
          </footer>
        
      
    </section>  
</body>
</html>